<div class="row">
    <h1>Estudios</h1>
    <div class="col-lg-2">
        <button type="button" class="btn btn-dark" routerLink="/nuevosest" *ngIf="isLogged && isAdmin">
            Agregar Estudios
        </button>
    </div>

    <div class="col lg 1"></div>
    <div class="col-lg-11">
        <table class="table">
            <tbody>
                <tr *ngFor="let Estudios of estudios">
                    <td>
                        <h2>{{Estudios.nombreE}}</h2>
                    </td>
                    <td>{{Estudios.descripcionE}}</td>
                    <td *ngIf="isLogged && isAdmin">
                        <button class="btn btn-light" routerLink="/editarest/{{Estudios.id}}">
                            <i class="bi bi-pencil-fill"></i> EDITAR</button>
                    </td>
                    <td *ngIf="isLogged && isAdmin">
                        <button class="btn btn-danger" (click)="delete(Estudios.id)">
                            <i class="bi bi-trash-fill"></i> BORRAR</button>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>

</div>