h1 {
    color:  rgb(7, 104, 110) !important;
}

.row {
    background-color:rgb(230, 236, 236) ;
    padding: 20px;
}

.contenedor {
    width: auto;

}

.parte1 , .parte2 {
    display:inline-block;
    text-align: justify;
}

.img-proyecto1 {
    box-shadow: 10px 10px 30px rgb(253, 255, 255);
    box-shadow: ejeX ejeY difumasion cornsilk;

}